<%- include('./../includes/header.ejs') %>
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:100|Righteous" rel="stylesheet">
</head>
<body>

    <%- include('../includes/navigation.ejs')%>


<section class="products">
        <h2 class="products__heading">
            Our Products
        </h2>
        <div class="products__container">
            <div class="products__category">
                <div class="products__category--title">Categories</div>
                <ul class="products__category--items">
                    <% categories.forEach(function(category){ %>
                    <a class="products__category-link" href="/product/category/<%=category.name%>"><li class="products__category--item"><%= category.name %></li></a>
                    
                    <% }) %>
                </ul>
            </div>
            <div class="products__items">

                <% products.forEach(function(product){%>
                    <div class="products__item">
                        <a href="/product/<%=product._id%>" class="products__link">
                            <div class="products__item-overlay">
                                <span class="products__item-icon"><i class="ti-search"></i></span>
                            </div>
                        </a>
                        <img src="/storage/<%=product.image%>" class="products__item-img">
                        <div class="products__item-title">
                            <%= product.name%>
                        </div>
                        <div class="products__item-price">
                            <%= product.price%> €
                        </div>
                    </div>
               <% })%>

            </div>
        </div>
    </section>

<%- include('../includes/footer.ejs')%>